<!DOCTYPE html>
<html>
<head>
    <title>Everton F.C</title>
    <style>
        @import '/css/index.css';
    </style>
</head>
<body>
<header>
    <img src="/images/crest.jpg" width 50px, height 50px alt = picture of a crest>
    <h1>Everton Football Club </h1>
</header>
<nav>
    <ul>
        <li><a href="index.php?action=home"class="current_page">Home</a></li>
        <li><a href="index.php?action=about">About</a></li>
        <li><a href="index.php?action=stadium">Stadium</a></li>
        <li><a href="index.php?action=players">Players</a></li>
        <li><a href="index.php?action=merchandise">Merchandise</a></li>
    </ul>
</nav>



<footer>
    <p class="middle">Football Team</p>
    <p class="copyright">Copyright &copy; Kevin Molloy 2017</p>
</footer>
</body>
</html>
