{%extends '_mainTemplate.html.twig'%}

{% block main %}
<div class="column_container">
    <section class="leftside">
        <h1>Everton fc</h1>
        <p>Everton are under new management at the moment and the transition has been welcomed by fans and the wealthy new owners
            have brought a new leaseof life to the club and not to mention new players from around the world helping make Everton f.c
            reach the heights they were used to in the past.
        </p>
    </section>

    <section class="photo">
        <img src="images/keeper.jpg"width ="300" height= "300" alt="image of a girl">
        <h1>
            Premier league
        </h1>
    </section>
    <section>
        <h1>gooodison park</h1>
        <P>the long awaited merseyside derby is in two weeks time and promises to be an epic game as both teams are playing to win, not just for the points
           but for the pride of the city. Fans who are lucky enought to have a ticket for the clash are in for areal treat.
        </p>
    </section>
</div>
{% endblock %}