{%extends '_mainTemplate.html.twig'%}


{% block main %}
<div class="column_container">
<section class="leftside">
<h1><img src="../web/images/homekit.jpg" alt="cup"></h1>
</section>

<section class="photo">
<img src="../web/images/awaykit.jpg" alt="scarf">

</section>
<section>
<p><img src="../web/images/.thirdkit" alt="hat">

</p>
</section>
</div>
{% endblock %}

