{%extends '_mainTemplate.html.twig'%}

{% block main %}
<div class="column_container">
<section class="leftside">
<h1>With a very strong squad everton have every chance of making progress in the premiership and europe. The fa cup is also in their sights this season and a return
    to the winning days of the 80's and 90's wouldbe warmly welcomed by the evertonians.
</h1>

<img src="images/dog.jpg" width"450" height"750"alt="picture of a dog">


</section>



<section class="photo">
<p><img src="images/djs.jpg" width"450" height"750"alt="picture of two dj's">
</section>
</div>
{% endblock %}
