{%extends '_mainTemplate.html.twig'%}

{% block main %}
<div class="column_container">
<section class="leftside">
<img src="images/dav.jpg" alt="david">


</section>

<section class="photo">
<img src="images/voilet.jpg"width"300" height"300" alt="violet color">
</section>
<section>
<img src="images/wristband.jpg" alt="piture of a wrist band">
<a href="venue's.html">Venue's</a>
</section>
</div>

{%endblock%}
